.barbers{
    padding-bottom: 84px;
    padding-top: 84px;
    background-color: rgb(159, 150, 143);

    &__item1{
        color: #303030;
    font-family: "Open Sans";
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 20px;
    }

    &__item2{
        color: #303030;
    font-family: Raleway;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.1px;
    margin-bottom: 44px;
    }





&__title{
    color: #303030;
    text-align: center;
    font-family: "Open Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.36px;
    margin-bottom: 8px;
    margin-top: 30px;
}

&__text{
    color: #FF6C00;
    text-align: center;
    font-family: "Open Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.28px;
    margin-bottom: 30px;
}
}