.booking{
    padding-bottom: 81px;
    padding-top: 81px;
    background-color: rgb(125, 125, 164);


&__title{
    color: #FFF;
    text-align: center;
    font-family: Raleway;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.1px;
    
}







&__book{
    border-radius: 25px;
border: 1px solid #FF6C00;


}

}