.header-menu{

}

&__subtitle{
    color: $color-gray;
font-family: "Open Sans";
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0.32px;
margin-left: 31px;
margin-right: 168px;

}