// .header-menu{
// display: flex;
// justify-content: center;
// }

// .heder-subtitle{
//     color: $color-gray;
// font-family: "Open Sans";
// font-size: 16px;
// font-weight: 400;
// line-height: 26px;
// letter-spacing: 0.32px;
// margin-left: 31px;
// margin-right: 168px;

// }


// .header-subtitle{
//     color: rgba(157, 164, 189, 0.60);
//   font-family: "Open Sans";
//   font-size: 11px;
//   font-weight: 600;
//   letter-spacing: 1.1px;
//   text-transform: uppercase;
  
//   display: flex;
//   justify-content: left;
//   gap: 111px;
//   }
  
  
//   .header-title{
//     color: #FFF;
//   font-family: Raleway;
//   font-size: 48px;
//   font-style: normal;
//   font-weight: 700;
//   letter-spacing: 2.4px;
  
//   }
  
  
//   .header-text{
//     color: #9DA4BD;
//   font-family: "Open Sans";
//   font-size: 16px;
//   font-weight: 400;
//   line-height: 26px;
//   letter-spacing: 0.32px;
//   }
  
//   .item-city{
//     color: #303030;
//   font-family: "Open Sans";
//   font-size: 11px;
//   font-weight: 600;
//   text-transform: uppercase;
  
//   }
  
//   .title-city{
//     color: #555;
//   font-family: "Open Sans";
//   font-size: 16px;
//   font-style: normal;
//   font-weight: 400;
//   line-height: 26px;
//   letter-spacing: 0.32px
//   }
  
//   .text-city{
//     color: #555;
//     font-family: "Open Sans";
//     font-size: 14px;
//     font-style: normal;
//     font-weight: 400;
//     line-height: 26px;
//     letter-spacing: 0.28px;  
//   }
  
//   .button-city{
//     color: #303030;
//   font-family: "Open Sans";
//   font-size: 12px;
//   font-style: normal;
//   font-weight: 600;
//   line-height: normal;
//   letter-spacing: 1.08px;
//   text-transform: uppercase;
  
//   }





.header{
    padding-top: 40px;
    background-color: gray;
    

    &__box{
        display: flex;
        

    }

&__logo{

    @media screen and ( min-width: 720px){
      display: none;
        
    }
}

    &__img{
        width: 68px;
        height: 65px;
    }

    .header__list{
        display: flex;
        justify-content: space-between;
        gap: 16px;
       @media screen and ( max-width: 719px){
        display: none;
       } 
    }  


    &__link{
        color: #FFF;
        font-family: "Open Sans";
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 1.2px;  

        &:hover{
            color: #FF6C00;
        }
    }



   
    &__items{
        margin-left: auto;
        display: none;
        flex-direction: column;
        gap: 16px;
        align-items: end;

        @media screen and (min-width:720px){
            display: flex;
        }
    }

    &__bttn{
        background-color: transparent;
        border: none;
        border-radius: 25px;
        border: 1px solid #FF6C00;

        color: #FFF;
        font-family: "Open Sans";
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 1.08px;
        text-transform: uppercase;

        padding: 12px 20px;

    }

    &__phone{
        color: #FFF;
        text-align: center;
        font-family: "Open Sans";
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 1.2px;
        text-transform: uppercase;
    }

    &__img1{
        @media screen and (max-width:719px){
            display: none;
        }
        width: 330.0px;
        height: 235.0px;
         
    }

    &__btn{
        background-color: transparent;
        border: none;
        margin-left: auto;
        

        @media screen and ( min-width: 720px){
        display: none;
        }


    }





   
}

