.hero{
    padding-top: 210px;
    padding-bottom: 210px;
    background-color: gray;


    &__text{
        color: rgba(157, 164, 189, 0.60);
        font-family: "Open Sans";
        font-size: 11px;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 1.1px;
        text-transform: uppercase;
        margin-left: 31px;
    }



    &__title{
        color: #FFF;
        font-family: Raleway;
        font-size: 48px;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 2.4px;
        margin-bottom: 20px;
        margin-top: 20px;   

    }



    &__desk{
        color: #9DA4BD;
        font-family: "Open Sans";
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 0.32px;
    }
}

