.means{
    padding-top: 84px;
    padding-bottom: 84px;
    background-color: #FFF;


&__title{
    color: #303030;
    font-family: "Open Sans";
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    &::before{
        content: "";
        display: block;
        width: 60px ;
        height: 1px ;
        background-color: #303030;
        margin-right: 20px;
    }
}


&__list{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 71px;
}







}