.means{
    padding-top: 84px;
    padding-bottom: 84px;
    background-color: rgb(177, 153, 153);


&__title{
    color: #303030;
    font-family: "Open Sans";
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}










}