.means{
    padding-top: 84px;
    padding-bottom: 84px;
    background-color: #FFF;




    @media screen and (min-width:720px){
         padding-top: 100px;
         padding-bottom: 106px;
    }

    @media screen and (min-width:1200px){
         padding-top: 120px;
         padding-bottom: 120px; 
     }

&__title{
    color: #303030;
    font-family: "Open Sans";
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    &::before{
        content: "";
        display: block;
        width: 60px ;
        height: 1px ;
        background-color: #303030;
        margin-right: 20px;
    }
}


&__list{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 71px;
    align-items: center;

    @media screen and (min-width:448x){
      width: 418px;
    }
    

    @media screen and (min-width:720px){
        width: 100%;
        flex-wrap: wrap;
        flex-direction: row;
    }


    @media screen and (min-width:1200px){
        display: flex;
        flex-direction: row;
        width: 100%;
        gap: 30px;
    }
}

&__img{
       width: 100%;



        @media screen and (min-width:448px){
            width: 418px;
        }
 

        @media screen and (min-width:720px){
            width: 330px;
        }

        @media screen and (min-width:1200px){
         width: 270px;
        }
}





}