@import "./base/container";
@import "./base/reset";
@import "./base/variballs";
@import"./section/header";
@import"./section/hero";
@import"./section/work";
@import"./section/services";
@import"./section/traditional";
@import"./section/barbers";
@import"./section/means";
@import"./section/booking"